@import "../../node_modules/bootstrap";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #f8fbfe;
    font-family: roboto, helvetica, sans-serif, arial, verdana, tahoma;
    overflow-x: hidden;
    font-size: 16px;
    color: #124265;
    font-weight: 420;
    line-height: 1.5;
}

.jumbotron{
    background: #ffff;
}

.jumbotron h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    color: #124265;
    font-family: "Poppins", sans-serif;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 90px 0 rgba(110, 123, 131, 0.05);
}

.card.card-body.shadow-lg {
    font-family: "Raleway", sans-serif;
    color: #124265;
    transition: ease-in-out 0.3s;
}

.card.card-body.shadow-lg{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}