.recipe{
  width: 50%;
  background: #efeeee;
  border-radius: 12px;
  margin: 5em auto;
}

.recipe_img{
  text-align: center;
  margin: auto;
  border-radius: 4px;
}

.recipe_img img {
  width: 70%;
}

.recipe_img h1 {
  font-family: 'Playfair Display', serif;
}

@media only screen and (max-width: 520px) {
  .recipe_img{
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 520px) {
  .recipe{
    width: auto;
  }
}