{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    <button type="submit">Créer un compte</button>
    {{ form_end(form) }}
{% endblock %}
